.sidebar {
  height: 100vh;
  background-color: #1f2937;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 0px 0px 16px 0px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.sidebar .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
  background-color: #ffffff;
  max-height: 180px;
  height: 180px;
  border-bottom: 5px solid #0e121a;
}

.sidebar ul {
  list-style: none;
  padding: 10px 0px;
}

.sidebar ul li {
  padding: 5px 10px 5px 10px;
}

.sidebar ul li a, .submenu-btn {
  display: block;
  text-decoration: none;
  color: #babfc9;
  padding: 10px;
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px  !important;
  border-left: 5px solid transparent;
}

.sidebar-item {
  display: flex;
  align-items: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  position: relative;
  border-radius: 0;
  cursor: pointer;
}

.sidebar-item:hover{
  background-color: #181c24; 
  color: #249bd9;
}

.sidebar-item:hover a{
  background-color: transparent;  
}

.sidebar-item.active {
  background-color: #0e121a;
}

.sidebar-item.active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 6px;
  height: 100%;
  background-color: #249bd9;
  border-radius:0 6px 6px 0;
}

.sidebar-item.active svg {
  color: #249bd9;
}
.sidebar-item:hover svg {
  color: #249bd9;
}

.sidebar-item label{
  cursor: pointer;
}

.sidebar-btnitem{
  cursor: pointer;
}

.sidebar-btnitem:hover{
  background-color: #181c24; 
  color: #249bd9;
}

.sidebar-btnitem:hover a{
  background-color: transparent;  
}

.sidebar-btnitem.active {
  background-color: #0e121a;
}

.sidebar-btnitem.active svg {
  color: #249bd9;
}

.sidebar-btnitem:hover button > svg {
  color: #249bd9;
}

.sidebar-btnitem label{
  cursor: pointer;
}
/* Submenú */
.submenu {
  list-style: none;
  margin-top: 10px;
  padding-left: 20px;
  background-color: #383f4d;
  border-radius: 4px;
}

.submenu-item {
  padding: 0px 10px;
  margin: 0;
  border-left: 4px solid transparent;
}

.submenu-item--modify{
  padding: 5px 3px !important;
}

.submenu-item:hover {
  background-color: #181c24;
}

.submenu-item.active {
  background-color: #181c24;
  border-left: 4px solid #249bd9;
}

.submenu-item a {
  font-size: 14px;
  border-radius: 0px !important;
  border-left: 2px solid #1f2937;
}

.submenu-item a svg {
  font-size: 14px;
  color: white;
}

.submenu-item:hover a svg{
  color: #249bd9;
}

.submenu-item.active a svg{
  color: #249bd9;
}

.chevron{
  position: relative;
  left: 106px;
}

.toggle-btn {
  position: absolute;
  top: 5px;
  background-color: #1f2937;
  border: none;
  color: #ffffff;
  height: 30px;
  width: 30px;
  font-size: 15px;
  z-index: 1000;
}